--decimalgrouping 3,5
--hexgrouping 2,3
--indent tab
--indentcase true
--tabwidth 4
--smarttabs false
--xcodeindentation enabled
--patternlet inline
--self insert
--stripunusedargs closure-only
--ranges no-space
--wraparguments after-first
--wrapcollections before-first
--disable typeSugar
--disable redundantParens
--disable redundantFileprivate
--disable hoistAwait
--disable hoistTry
--disable conditionalAssignment
--disable redundantStaticSelf
--disable wrapPropertyBodies
--disable wrapFunctionBodies
--disable docComments
--enable acronyms
--enable numberFormatting
